In [1]:
import pandas as pd

In [2]:
import numpy as np

In [22]:
missing_values = ["undefined"," ", "none" , "-","Undefined" ]

In [23]:
hotel = pd.read_csv("hotel_bookings.csv",na_values=missing_values)

In [24]:
hotel.shape

(119390, 32)

In [25]:
hotel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            118221 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119388 non-null  object
 15  distribution_channel            119385 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [26]:
np.sum(hotel.isnull())

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                1169
country                              488
market_segment                         2
distribution_channel                   5
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [28]:
hotel['reservation_status_date'] = pd.to_datetime(hotel['reservation_status_date'])

In [30]:
type(hotel['reservation_status_date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [38]:
hotel['arrival_date'] = pd.to_datetime(hotel['arrival_date_year'].astype(str) + "-"+ hotel["arrival_date_month"].astype(str) + "-"+hotel["arrival_date_day_of_month"].astype("str"))

In [39]:
hotel['arrival_date']

0        2015-07-01
1        2015-07-01
2        2015-07-01
3        2015-07-01
4        2015-07-01
            ...
119385   2017-08-30
119386   2017-08-31
119387   2017-08-31
119388   2017-08-31
119389   2017-08-29
Name: arrival_date, Length: 119390, dtype: datetime64[ns]

In [42]:
hotel[hotel['children'].isnull()].index.values

array([40600, 40667, 40679, 41160], dtype=int64)

## Handling the missing values

## Removing unwanted columns

Usually if more than 70% values in a column are missing, then that column can be dropped completely

In [46]:
for col in hotel.columns:
    if np.sum(hotel[col].isnull()) > hotel.shape[0] * 0.7 :
        hotel.drop(columns =col, inplace = True, axis =1)

In [48]:
hotel.shape

(119390, 32)

The company column which contained more than 1 lakh missing values is removed

In [49]:
hotel.drop(columns =["arrival_date_year","arrival_date_month","arrival_date_week_number","arrival_date_day_of_month"],inplace = True,axis = 1)

In [50]:
hotel.shape

(119390, 28)

## Removing unwanted rows

In [51]:
hotel.dropna(subset=["agent"],inplace = True)

In [52]:
hotel.shape

(103050, 28)

## Filling  the missing  values  of columns

In [55]:
hotel["children"].fillna(value = hotel["children"].mean(),inplace = True)

In [57]:
hotel["children"] = hotel['children'].apply(np.floor)

In [66]:
print(f"Total missing values in children after filling : {np.sum(hotel.children.isnull())}")

Total missing values in children after filling : 0

In [67]:
arr =["market_segment","distribution_channel","meal","country"]

In [71]:
print("No of missing values : ") 
for col in arr:
    hotel[col].fillna(method = "bfill",inplace = True)
    print(f"{col} : {np.sum(hotel[col].isnull())}")

No of missing values :
market_segment : 0
distribution_channel : 0
meal : 0
country : 0

In [72]:
np.sum(hotel.isnull())

hotel                             0
is_canceled                       0
lead_time                         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
agent                             0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
arrival_date                      0
dtype: int64

## Droping the duplicate entry

In [76]:
hotel_duplicates = hotel[hotel.duplicated()]

In [77]:
hotel_duplicates.shape

(27828, 28)

In [78]:
hotel_duplicates

,hotel,is_canceled,lead_time,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,...,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,arrival_date
5,Resort Hotel,0,14,0,2,2,0.0,0,BB,GBR,...,No Deposit,240.0,0,Transient,98.00,0,1,Check-Out,2015-07-03,2015-07-01
22,Resort Hotel,0,72,2,4,2,0.0,0,BB,PRT,...,No Deposit,250.0,0,Transient,84.67,0,1,Check-Out,2015-07-07,2015-07-01
43,Resort Hotel,0,70,2,3,2,0.0,0,HB,ROU,...,No Deposit,250.0,0,Transient,137.00,0,1,Check-Out,2015-07-07,2015-07-02
138,Resort Hotel,1,5,1,0,2,0.0,0,BB,PRT,...,No Deposit,240.0,0,Transient,97.00,0,0,Canceled,2015-07-01,2015-07-05
200,Resort Hotel,0,0,0,1,1,0.0,0,BB,GBR,...,No Deposit,240.0,0,Transient,109.80,0,3,Check-Out,2015-07-08,2015-07-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119349,City Hotel,0,186,0,3,2,0.0,0,BB,DEU,...,No Deposit,9.0,0,Transient,126.00,0,2,Check-Out,2017-09-03,2017-08-31
119352,City Hotel,0,63,0,3,3,0.0,0,BB,SWE,...,No Deposit,9.0,0,Transient-Party,195.33,0,2,Check-Out,2017-09-03,2017-08-31
119353,City Hotel,0,63,0,3,3,0.0,0,BB,SWE,...,No Deposit,9.0,0,Transient-Party,195.33,0,2,Check-Out,2017-09-03,2017-08-31
119354,City Hotel,0,63,0,3,3,0.0,0,BB,SWE,...,No Deposit,9.0,0,Transient-Party,195.33,0,2,Check-Out,2017-09-03,2017-08-31
119373,City Hotel,0,175,1,3,1,0.0,0,BB,NLD,...,No Deposit,42.0,0,Transient,82.35,0,1,Check-Out,2017-09-04,2017-08-31

In [79]:
hotel.drop_duplicates(inplace=True)

In [80]:
hotel.shape

(75222, 28)

In [81]:
hotel.head()

,hotel,is_canceled,lead_time,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,...,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,arrival_date
3,Resort Hotel,0,13,0,1,1,0.0,0,BB,GBR,...,No Deposit,304.0,0,Transient,75.0,0,0,Check-Out,2015-07-02,2015-07-01
4,Resort Hotel,0,14,0,2,2,0.0,0,BB,GBR,...,No Deposit,240.0,0,Transient,98.0,0,1,Check-Out,2015-07-03,2015-07-01
7,Resort Hotel,0,9,0,2,2,0.0,0,FB,PRT,...,No Deposit,303.0,0,Transient,103.0,0,1,Check-Out,2015-07-03,2015-07-01
8,Resort Hotel,1,85,0,3,2,0.0,0,BB,PRT,...,No Deposit,240.0,0,Transient,82.0,0,1,Canceled,2015-05-06,2015-07-01
9,Resort Hotel,1,75,0,3,2,0.0,0,HB,PRT,...,No Deposit,15.0,0,Transient,105.5,0,0,Canceled,2015-04-22,2015-07-01